@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Admin area for workforce manager project.</p>
    <p>Explore available API endpoints with <a href="/swagger">Swagger</a>!</p>
</div>